<div class="chat-container">
    <ul class="messages-list">
        <div *ngFor="let message of messages$ | async; trackBy: trackByMessages">
            {{ message.user }}: {{ message.text }}
        </div>
    </ul>
    <form #chatForm="ngForm">
        <div class="message-box">
            <input name="user" [(ngModel)]="user" placeholder="User" required #userInput="ngModel" 
                [class.is-invalid]="userInput.errors?.['required'] && userInput.touched" />
            <input name="text" [(ngModel)]="text" placeholder="Type a message..." required #textInput="ngModel" 
                [class.is-invalid]="textInput.errors?.['required'] && textInput.touched" />
            <button (click)="sendMessage()" [disabled]="!chatForm.valid">Send</button>
        </div>
    </form>
</div>